.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 22px;
  background-color: #ffffff;
  border-bottom: 1px solid #ddd;
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  min-width: 390px;
}

.logo {
  font-size: 20px;
  text-decoration: none;
  color: #000000;
}

.logo:hover {
  text-decoration: underline;
}

.auth {
  display: flex;
  gap: 16px;
  align-items: center;
}

.link {
  display: flex;
  align-items: center;
  color: #000000;
  text-decoration: none;
  font-size: 18px;
  padding: 6px 12px;
  border-radius: 4px;
  border: 1px solid transparent;
  transition: all 0.2s ease;
  background: transparent;
  cursor: pointer;
}

.link:hover {
  text-decoration: underline;
}

.link:focus {
  outline: none;
}

.active {
  border: 1px solid #52c41a;
  border-radius: 4px;
  padding: 4px 8px;
  color: #52c41a;
}

.username {
  color: #000;
  text-decoration: none;
}

.avatar {
  width: 46px;
  height: 46px;
  border-radius: 50%;
  object-fit: cover;
}

.profileLink {
  text-decoration: none;
  color: black;
  font-weight: 500;
  display: flex;
  align-items: center;
}

.profileLink:hover {
  text-decoration: underline;
}
